.App {
  text-align: center;
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

li {
  background-color: rgb(250, 134, 1);
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  min-width: 400px;
  list-style: none;
}

li.item1 {
  background-color: #F69E3C;
}

li.item2 {
  background-color: #5DBB41;
}

li.item3 {
  background-color: #05B1E8;
}

li.item4 {
  background-color: #FED721;
}

li.item5 {
  background-color: #8F6AAF;
}

div.title {
  font-family: 'Palette Mosaic', cursive;
  color: #C1151C;
  position: relative;
  top:40px
}

div.title div {
  display: inline-block;
  margin-left: 30px;
}

div.title div:nth-child(1) {
  transform: rotate(-15deg);
}

div.title div:nth-child(2) {
  transform: rotate(12deg);
}

div.title div:nth-child(3) {
  transform: rotate(-8deg);
}


ul {
  padding-inline-start: 0;
  background-color: #F4EDCE;
  border-radius: 5px;
  padding: 5px;
}

input {
  width: 426px;
  font-size: calc(10px + 2vmin);
  border-radius: 5px;
  padding: 5px;
}

img {
  max-height: 300px;
  margin-bottom: 30px;
  border-radius: 5px;
}
